In [1]:
import pandas as analytics
import numpy as maths
import os

In [5]:
def extract_values(a):
    return [i.strip().replace(" ","_") for i in a.split("|")]

In [2]:
source_path = 'MovieLens100k_dataset'
data_path = os.path.join(source_path,'u.data')
genre_path = os.path.join(source_path,'u.genre')
item_path = os.path.join(source_path,'u.item')
occupation_path = os.path.join(source_path,'u.occupation')
user_path = os.path.join(source_path,'u.user')

In [3]:
df_rated_movies = analytics.read_csv('rated_movies.csv')
user_id = df_rated_movies['user_id'].unique()[0]
df_rated_movies = df_rated_movies.drop(['user_id','timestamp'],axis = 1)
df_rated_movies

,movie_id,movie_title,rating,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,Twelve Monkeys (1995),1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,1480,Herbie Rides Again (1974),0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
536,1490,Fausto (1993),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
537,1518,Losing Isaiah (1995),1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
538,1521,Mr. Wonderful (1993),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
539,1603,Angela (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data_headers = """user id | movie id | rating | timestamp"""
item_headers = """movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |"""
user_headers = """user id | age | gender | occupation | zip code"""


data_headers = extract_values(data_headers)
item_headers = extract_values(item_headers)[:-1]
user_headers = extract_values(user_headers)
genres = analytics.read_csv(genre_path,sep="|")['unknown'].tolist()

In [7]:
df_data = analytics.read_csv(data_path,header = None,sep="\t",names = data_headers)
df_data['rating'] = df_data['rating'] - 3
df_data

       user_id  movie_id  rating  timestamp
0          196       242       0  881250949
1          186       302       0  891717742
2           22       377      -2  878887116
3          244        51      -1  880606923
4          166       346      -2  886397596
...        ...       ...     ...        ...
99995      880       476       0  880175444
99996      716       204       2  879795543
99997      276      1090      -2  874795795
99998       13       225      -1  882399156
99999       12       203       0  879959583

[100000 rows x 4 columns]

In [8]:
df_items = analytics.read_csv(item_path, header = None, sep = "|" , names = item_headers)
df_items = df_items.drop(['release_date','video_release_date','IMDb_URL'],axis = 1)
df_items = df_items[df_items['unknown'] == 0]
df_items = df_items.drop('unknown',axis = 1)
df_items

,movie_id,movie_title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1677,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1678,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1679,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [37]:
df_maps = df_data.groupby('user_id').agg({'movie_id':lambda x:x.count(),'rating':lambda x:x.sum()}).reset_index()
df_maps['arpm'] = df_maps['rating']/df_maps['movie_id']
df_maps = df_maps[df_maps['movie_id'] > 149]
most_liberal_user = df_maps.set_index('user_id')['arpm'].argmax()

In [111]:
df_liberal = df_data[df_data['user_id'] == most_liberal_user].reset_index(drop = True).sort_values('timestamp')
df_liberal

    user_id  movie_id  rating  timestamp
14       77       181       0  884732278
18       77        50       1  884732345
3        77       474       2  884732407
69       77       183       2  884732606
12       77       153       2  884732685
..      ...       ...     ...        ...
1        77       518       1  884753202
28       77       778      -1  884753203
26       77        52       2  884753203
36       77        97      -1  884753292
49       77        31       0  884753292

[72 rows x 4 columns]

In [112]:
df_liberal = df_liberal.merge(df_items,on='movie_id')
df_train = df_liberal.sample(frac = 0.8)
df_test = df_liberal[~df_liberal.isin(df_train)].dropna()
df_liberal

,user_id,movie_id,rating,timestamp,movie_title,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,77,181,0,884732278,Return of the Jedi (1983),1,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
1,77,50,1,884732345,Star Wars (1977),1,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
2,77,474,2,884732407,Dr. Strangelove or: How I Learned to Stop Worr...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,77,183,2,884732606,Alien (1979),1,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
4,77,153,2,884732685,"Fish Called Wanda, A (1988)",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,77,518,1,884753202,Miller's Crossing (1990),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,77,778,-1,884753203,Don Juan DeMarco (1995),0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
69,77,52,2,884753203,"Madness of King George, The (1994)",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,77,97,-1,884753292,Dances with Wolves (1990),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
71,77,31,0,884753292,Crimson Tide (1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [114]:
len(df_items.columns[2:])

18

In [229]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Embedding, GRU, Dense
from tensorflow.keras.models import Sequential

In [262]:
input_vector.shape[1]

18

In [271]:
embedding_dimension = 20
input_dimension = 18
model = Sequential()
model.add(Embedding(input_dim = input_dimension, output_dim=embedding_dimension))
model.add(GRU(50, activation = 'softmax'))
model.add(Dense(input_dimension, activation='softmax'))
model.compile(loss = 'crossentropy',optimizer='adam', metrics=['recall'])

In [232]:
values = []
rewards = []

In [233]:
t = -1
X = []

In [272]:
X = maths.matrix(df_train[df_train.columns[5:]])[:-1]
y = maths.matrix(df_train[df_train.columns[5:]])[1:]

In [254]:
X[1]

matrix([[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

In [257]:
t = t + 1
input_vector = maths.matrix(df_train[df_train.columns[5:]].iloc[t])
gamma = 0.2
feedback_value = df_train['rating'].iloc[t]
if feedback_value > 0 : value = 1 
else : value = -0.2  
values.append(value*gamma**t)
rewards.append(sum(values[:t]))
embedding_dimension = 20

In [273]:
model.fit(X,y, epochs = 100)

Epoch 1/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step - loss: 6.6726 - recall: 0.0000e+00
Epoch 2/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.6660 - recall: 0.0000e+00
Epoch 3/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.6590 - recall: 0.0000e+00
Epoch 4/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5017 - recall: 0.0000e+00
Epoch 5/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.6731 - recall: 0.0000e+00
Epoch 6/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4868 - recall: 0.0000e+00
Epoch 7/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.8061 - recall: 0.0000e+00
Epoch 8/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4137 - recall: 0.0000e+00
Epoch 9/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 6.7929 - recall: 0.0000e+00
Epoch 10/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.6342 - recall: 0.0000e+00
Epoch 11/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5422 - recall: 0.0000e+00
Epoch 12/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4132 - recall: 0.0000e+00
Epoch 13/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.7606 - recall: 0.0000e+00
Epoch 14/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2796 - recall: 0.0000e+00
Epoch 15/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 6.4851 - recall: 0.0000e+00
Epoch 16/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.7396 - recall: 0.0000e+00
Epoch 17/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.7301 - recall: 0.0000e+00
Epoch 18/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4526 - recall: 0.0000e+00
Epoch 19/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5070 - recall: 0.0000e+00
Epoch 20/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.6780 - recall: 0.0000e+00
Epoch 21/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.8458 - recall: 0.0000e+00
Epoch 22/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4554 - recall: 0.0000e+00
Epoch 23/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1909 - recall: 0.0000e+00
Epoch 24/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5602 - recall: 0.0000e+00
Epoch 25/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5466 - recall: 0.0000e+00
Epoch 26/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5130 - recall: 0.0000e+00
Epoch 27/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.6530 - recall: 0.0000e+00
Epoch 28/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4635 - recall: 0.0000e+00
Epoch 29/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3381 - recall: 0.0000e+00
Epoch 30/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3898 - recall: 0.0000e+00
Epoch 31/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4995 - recall: 0.0000e+00
Epoch 32/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4332 - recall: 0.0000e+00
Epoch 33/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3080 - recall: 0.0000e+00
Epoch 34/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5598 - recall: 0.0000e+00
Epoch 35/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4669 - recall: 0.0000e+00
Epoch 36/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.6046 - recall: 0.0000e+00
Epoch 37/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4195 - recall: 0.0000e+00
Epoch 38/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4668 - recall: 0.0000e+00
Epoch 39/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.4551 - recall: 0.0000e+00
Epoch 40/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.3613 - recall: 0.0000e+00
Epoch 41/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.3438 - recall: 0.0000e+00
Epoch 42/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3823 - recall: 0.0000e+00
Epoch 43/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4000 - recall: 0.0000e+00
Epoch 44/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1880 - recall: 0.0000e+00
Epoch 45/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2487 - recall: 0.0000e+00
Epoch 46/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4836 - recall: 0.0000e+00
Epoch 47/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.4358 - recall: 0.0000e+00
Epoch 48/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1947 - recall: 0.0000e+00
Epoch 49/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2481 - recall: 0.0000e+00
Epoch 50/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2277 - recall: 0.0000e+00
Epoch 51/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.5915 - recall: 0.0000e+00
Epoch 52/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1597 - recall: 0.0000e+00
Epoch 53/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 5.9452 - recall: 0.0000e+00
Epoch 54/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0758 - recall: 0.0000e+00
Epoch 55/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3279 - recall: 0.0000e+00
Epoch 56/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2378 - recall: 0.0000e+00
Epoch 57/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0855 - recall: 0.0000e+00
Epoch 58/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3491 - recall: 0.0000e+00
Epoch 59/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 6.2048 - recall: 0.0000e+00
Epoch 60/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1550 - recall: 0.0000e+00
Epoch 61/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 6.2359 - recall: 0.0000e+00
Epoch 62/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2339 - recall: 0.0000e+00
Epoch 63/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0135 - recall: 0.0000e+00
Epoch 64/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2808 - recall: 0.0000e+00
Epoch 65/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2404 - recall: 0.0000e+00
Epoch 66/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2484 - recall: 0.0000e+00
Epoch 67/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.2507 - recall: 0.0000e+00
Epoch 68/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.3284 - recall: 0.0000e+00
Epoch 69/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0589 - recall: 0.0000e+00
Epoch 70/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8115 - recall: 0.0000e+00
Epoch 71/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0189 - recall: 0.0000e+00
Epoch 72/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0810 - recall: 0.0000e+00
Epoch 73/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1065 - recall: 0.0000e+00
Epoch 74/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0169 - recall: 0.0000e+00
Epoch 75/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0115 - recall: 0.0000e+00
Epoch 76/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8637 - recall: 0.0000e+00
Epoch 77/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0693 - recall: 0.0000e+00
Epoch 78/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8827 - recall: 0.0000e+00
Epoch 79/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0424 - recall: 0.0000e+00
Epoch 80/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.1190 - recall: 0.0000e+00
Epoch 81/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8257 - recall: 0.0000e+00
Epoch 82/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.9697 - recall: 0.0000e+00
Epoch 83/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.9782 - recall: 0.0000e+00
Epoch 84/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8897 - recall: 0.0000e+00
Epoch 85/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.6907 - recall: 0.0000e+00
Epoch 86/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 6.0278 - recall: 0.0000e+00
Epoch 87/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8875 - recall: 0.0000e+00
Epoch 88/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.7798 - recall: 0.0000e+00
Epoch 89/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.9303 - recall: 0.0000e+00
Epoch 90/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.7312 - recall: 0.0000e+00
Epoch 91/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.7656 - recall: 0.0000e+00
Epoch 92/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.9228 - recall: 0.0000e+00
Epoch 93/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.7269 - recall: 0.0000e+00
Epoch 94/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 5.8756 - recall: 0.0000e+00
Epoch 95/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8538 - recall: 0.0000e+00
Epoch 96/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.6537 - recall: 0.0000e+00
Epoch 97/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.7490 - recall: 0.0000e+00
Epoch 98/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.9464 - recall: 0.0000e+00
Epoch 99/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.9213 - recall: 0.0000e+00
Epoch 100/100
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5.8587 - recall: 0.0000e+00

In [277]:
predictions = model.predict(X)
probabilities = maths.exp(predictions) / maths.sum(np.exp(predictions), axis=1, keepdims=True)
probabilities

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

array([[0.05840178, 0.05776998, 0.05362258, ..., 0.05734557, 0.05729209,
        0.0538814 ],
       [0.05840495, 0.05777108, 0.05362144, ..., 0.05734601, 0.05729376,
        0.05387978],
       [0.05830707, 0.05774662, 0.05364542, ..., 0.05737891, 0.05726383,
        0.05391799],
       ...,
       [0.05841069, 0.05777169, 0.05361952, ..., 0.05734542, 0.05729747,
        0.05387657],
       [0.05840346, 0.05776988, 0.05362171, ..., 0.05734618, 0.05729428,
        0.05388029],
       [0.05840666, 0.05777095, 0.0536217 , ..., 0.05734266, 0.05729282,
        0.05387978]], dtype=float32)

In [286]:
probabilities[:,0]

array([0.05840178, 0.05840495, 0.05830707, 0.0584107 , 0.05840369,
       0.05831201, 0.05841072, 0.05839091, 0.05831201, 0.0584055 ,
       0.05840178, 0.0584147 , 0.05821611, 0.05830707, 0.05840346,
       0.05841267, 0.05839625, 0.05841466, 0.05838608, 0.05841092,
       0.05830177, 0.05832484, 0.05840096, 0.05841473, 0.05840732,
       0.05840971, 0.05840001, 0.05840001, 0.05840178, 0.05830707,
       0.05841573, 0.05839651, 0.05829027, 0.05840149, 0.05841568,
       0.05830707, 0.05829027, 0.05840718, 0.058404  , 0.05832484,
       0.05831201, 0.05841032, 0.0584055 , 0.05840422, 0.05830707,
       0.05830707, 0.05840178, 0.05831201, 0.05831201, 0.05839811,
       0.0584107 , 0.05831201, 0.05831201, 0.05840275, 0.05841069,
       0.05840346, 0.05840666], dtype=float32)

In [212]:
rewards

[0,
 1.0,
 1.2,
 1.192,
 1.1904,
 1.192,
 1.19232,
 1.192384,
 1.1923968,
 1.192396288,
 1.1923968,
 1.1923967795200001,
 1.1923967754240001,
 1.1923967746048,
 1.1923967754240001,
 1.1923967753912321,
 1.1923967753846785,
 1.1923967753833677,
 1.1923967753846785,
 1.1923967753849407,
 1.1923967753849303,
 1.1923967753849407]

In [118]:
model.fit(input_vector,rewards[-1])

SyntaxError: incomplete input (2228091118.py, line 1)

In [119]:
embedding = tf.keras.layers.Embedding(input_dim=len(input_vector), output_dim=embedding_dimension)
input_tensor = tf.constant(input_vector)
embedding(input_tensor)

<tf.Tensor: shape=(1, 18, 20), dtype=float32, numpy=
array([[[-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051],
        [-0.04157556,  0.00344843, -0.03710697,  0.0420297 ,
          0.02827216,  0.04838764, -0.02540306,  0.01752577,
         -0.03171322, -0.04390177, -0.00579613, -0.0245366 ,
         -0.00652146, -0.00090211, -0.02781671,  0.03336009,
          0.02270869, -0.03565388, -0.02301773, -0.00625051]]],
      dtype=float32)>